<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Play1</title>
</head>
<body>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .app {
            width: 300px;
            overflow: hidden;
            border: 1px solid #ddd;
        }

        .header {
            text-align: center;
            background-color: #134c7b;
        }

        .container {
            color: #134371;
            font-weight: 600;
        }

        .name {
            padding: 5px;
        }

        .content {
            padding: 5px;
        }
    </style>
    <div class="app">
        <div class="header">
            <img src="/static/insta.png" width="100%">
        </div>
        <div class="container">
            <div class="name">MIMI</div>
            <div class="img">
                <img src="/static/mimi1.jpg" width="100%">
            </div>
            <div class="content">♥︎ 12400 likes</div>
        </div>
    </div>
</body>

</html>